/*----------------
    DEBUG
------------------*/
/* .container {
    border: 2px dashed blueviolet;
}
.row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
} */
/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*----------------
    COMMONS
------------------*/
img {
    max-width: 100%;
}
/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
}
.row {
    display: flex;
}

.gap-30 {
    gap: 30px;
}
.col {
    flex-grow: 1;
    width: calc(100% /3);
}


/*----------------
    TYPOGRAPHY
------------------*/

body {
    font-family: "Roboto", serif;
}

/*----------------
    HEADER
------------------*/
header{
    background-color: #ff6900;
}

ul{
    list-style: none;
    color: #fff;
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: inherit;
    padding: 10px 0px;
}

header .logo img{
    width: 125px;
    height: 30px;
}

.icons i{
    color: #fff;
    padding: 0px 5px;
}

.nav-bar , .icons{
    width: 20%;
    padding: 15px 0px;
}

.icons, .social{
    text-align: right
}

.logo{
    width: 60%;
    padding: 10px;
    text-align: center;
}


/*----------------
    MAIN
------------------*/

.products{
    padding: 50px 0px;
}

section .container{
    display: block;
}

.heart{
    position: absolute;
    top: 10px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
}

.tag{
    position: absolute;
    bottom: 35px;
    left: 0;
}

.discount{
    background-color: red;
    color: #fff;
    padding: 5px 10px;
}

.sustainability{
    background-color: green;
    color: #fff;
    padding: 5px 10px;
}

.product-img {
    position: relative;
}
.product-img img {
    width: 100%;
    display: block;
}
.product-img:hover .hover {
    display: block;
}
.product-img:hover .default {
    display: none;
}

.product-img .hover {
    display: none;
}

.product-info span:first-of-type{
    color: red;
}

.product-info span:last-of-type{
    text-decoration: line-through;
}

/*----------------
    FOOTER
------------------*/
footer{
    background-color: #1a1a1a;
}

.copyright p{
    color: #fff;
    padding: 10px 0px;
    font-weight: bold;
}

.social p{
    color: #fff;
    font-weight: bold;
    padding: 10px 0px;
}

.social i{
    color: #fff;
    padding: 0px 5px;
}

footer .container{
    justify-content: space-between;
    padding: 30px 0px;
}