/*-----------
RESET
------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*-----------
GENERAL
-------------*/
.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*------------
DEBUG
-------------*/

/* .logo, .main-nav, .icone{
    background-color: #daa520;
    border: 1px dashed black;
} */

/* .container .left-col{
    min-height: 400px;
    background-color: aqua;
    border: 1px dashed black;
}

.container .center-col{
    min-height: 400px;
    background-color: rebeccapurple;
    border: 1px dashed black;
}

.container .right-col{
    min-height: 400px;
    background-color: magenta;
    border: 1px dashed black;
}
 */
/* footer{
    background-color: chartreuse;
}

.container .copyright{
    min-height: 200px;
    background-color: coral;
    border: 1px dashed black;
}

.container .social{
    min-height: 200px;
    background-color: gold;
    border: 1px dashed black;
} */

/*------------
HEADER
--------------*/
header{
    background-color: #ff6900;
}

header > .container {
    display: flex;
}

header .logo,
header .main-nav,
header .icone {
    padding: 10px;
}

header .main-nav, header .icone {
    width: 20%;
}

header img {
    width: 10%;
}

header .logo{
    width: 80%;
    text-align: center;
}

header .icone{
    text-align: right;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
}

.main-nav ul a {
    text-decoration: none;
    color: inherit;
}
/*-------------
MAIN
---------------*/
section img{
    width: 100%;
    padding: 50px 50px 5px 0px;
}

section div{
    width: 80%;
}

figcaption p{
   font-style: italic;
}

section span{
    color: black;
    padding: 5px 5px 30px 0px;
    text-decoration: line-through;
}

.left-col>p,
.center-col>p,
.right-col>p {
    color: red;
    padding: 5px 5px 30px 0px;
}
/*-------------
FOOTER
---------------*/

footer{
    background-color: #1a1a1a;
}
.container .copyright{
    width: 50%;
    flex-direction: column;
}

footer ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

footer ul a {
    text-decoration: none;
    color: inherit;
}

footer .copyright{
    color: white;
    padding: 20px 0px;
}

footer h3{
    font-size: 30px;
}

.container .social{
    width: 50%;
    padding: 20px 0px;
    text-align: right;
    color: white;   
}

footer img{
    width: 5%;
}